{% extends 'main/base.html' %}
{% load static %}
{% block title %}إنشاء حساب{% endblock %}

{% block content %}

<section class="d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="col-12 col-md-6">
        <div class="card shadow-sm p-4">
            <h2 class="mb-5 mt-3 text-center"><strong>إنشاء حساب متدربة</strong></h2>

        <form class="row g-3 needs-validation" action="{% url 'accounts:trainee_signup_view' %}" method="post" enctype="multipart/form-data">
            {%csrf_token %}
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="username" placeholder="" required>
                <label for="floatingInput">اسم المستخدم </label>
            </div>
            <div class="form-floating col-md-6">
                <input type="text" class="form-control" id="floatingInput" name="first_name" placeholder="" required>
                <label for="floatingInput">الاسم الاول</label>
            </div>
            <div class="form-floating col-md-6">
                <input type="text" class="form-control" id="floatingInput" name="last_name" placeholder="" required>
                <label for="floatingInput">الاسم الاخير</label>
            </div>

             <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" name="age" placeholder="" required>
                <label for="floatingInput">العمر</label>
            </div>
             <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" name="height" placeholder="" required>
                <label for="floatingInput">الطول</label>
            </div>
             <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" name="weight" placeholder="" required>
                <label for="floatingInput">الوزن</label>
            </div>

                <div class="form-floating">
                <select name="goal"  id="floatingInput" placeholder="" class="form-control" required>
                    <option value="" for="floatingInput">الهدف</option>
                    <option value="flowering" for="floatingInput">إنقاص الوزن</option>
                    <option value="succulents" for="floatingInput">زيادة الوزن</option>
                    <option value="trees" for="floatingInput">المحافظة على الوزن</option>
                </select>
                </div>


            <label for="">صورة الحساب</label>
            <input type="file" name="avatar" class="form-control" accept="image/*" required>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="email" placeholder="" required>
                <label for="floatingInput">الايميل</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingInput" name="password" placeholder="" required>
                <label for="floatingInput">كلمة المرور</label>
            </div>

            <div class="col-12">
                <button class="btn btn-dark w-100" type="submit">إنشاء حساب</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <small class="text-muted">
                هل لديك حساب؟
                <a href="{% url 'accounts:signin_view' %}" class="text-primary text-decoration-none">
                    سجلي دخول الان
                </a>
            </small>
        </div>

     
        </div>
    </div>
</section>
    {% endblock %}