{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>

<body class="d-flex flex-column min-vh-100 {% if request.COOKIES.mode == 'dark' %}bg-dark text-light{% endif %}">


    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm sticky-top">
        <div class="container">


            <a class="navbar-brand fw-bold" href="/">شيفت</a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="mainNavbar">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="/">الصفحة الرئيسية</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gyms:all_gyms_view' 'all' %}">النوادي</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'coaches:all_coaches_view'%}">المدربين</a>
                    </li>

                </ul>


                <form class="d-flex me-3" role="search" action="{%url 'main:search_view'%}">
                    <input class="form-control" type="search" placeholder="ابحث..." aria-label="Search" name="search"
                        value="{{request.GET.search}}">
                    <button class="btn btn-outline-success ms-2" type="submit">بحث</button>
                </form>


                {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle fs-5n"></i>
                        {{request.user.username}}
                    </button>
                    <ul class="dropdown-menu text-end">
                        {% if request.user.is_authenticated %}

                        {% if request.user.is_superuser %}
                        <li><a class="dropdown-item" href="/admin/">لوحة التحكم</a></li>

                        {% elif request.user.trainee %}
                        <li><a class="dropdown-item"
                                href="{% url 'accounts:profile_trainee_view' request.user.trainee.id %}">
                                الصفحة الشخصية
                            </a></li>

                        {% elif request.user.coach %}
                        <li><a class="dropdown-item"
                                href="{% url 'coaches:profile_coach_view' request.user.coach.id %}">
                                الصفحة الشخصية
                            </a></li>

                        {% elif request.user.gym %}
                        <li><a class="dropdown-item" href="{% url 'gyms:gym_detail_view' request.user.gym.id %}">
                                الصفحة الشخصية
                            </a></li>

                        {% endif %}

                        {% endif %}

                        <li><a class="dropdown-item text-danger"
                                href="{% url 'accounts:logout_view' %}?next={{ request.path }}">
                                تسجيل خروج
                            </a></li>
                    </ul>
                </div>
                {% else %}
                <div class="dropdown">
                    <button class="btn dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle fs-5"></i>
                    </button>
                    <ul class="dropdown-menu text-end">
                        <li><a class="dropdown-item" href="{% url 'accounts:signup_view' %}">إنشاء حساب</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="{% url 'accounts:signin_view' %}?next={{ request.path }}">تسجيل دخول</a></li>
                    </ul>
                </div>
                {% endif %}



                <a href="{% url 'main:mode_view' %}?next={{request.path}}"
                    class="d-flex align-items-center justify-content-center border border-1 border-dark rounded-circle p-2 py-1 ms-2">
                    {% if request.COOKIES.mode == "dark"%}
                    <i class="bi bi-brightness-high"></i>
                    {% else %}
                    <i class="bi bi-moon-stars "></i>
                    {% endif %}
                </a>


                <div
                    class="d-flex align-items-center justify-content-center border border-1 border-dark rounded-circle p-2 py-1 ms-3">
                    <a href="{% url 'coaches:cart_view' %}">
                        <i class="bi bi-bag"></i></a>
                </div>



            </div>
        </div>
    </nav>

    <!--Message-->
    {% if messages %}
    {%for message in messages %}
    <div class="container alert {{message.tags}} alert-dismissible fade show mt-4" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <main class="flex-fill container py-4">
        {% block content %}{% endblock %}
    </main>


    <footer class="bg-light text-center py-4 mt-auto border-top">
        <p class="mb-1">© 2025 شيفت - جميع الحقوق محفوظة</p>
        <a href="/" class="mx-2">الرئيسية</a>
        <a class="mx-2" href="{% url 'main:about_view' %}">عنا</a>
        <a href="{% url 'main:contact_view' %}" class="mx-2">تواصل معنا</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>