{% extends 'main/base.html' %}
{% load static %}
{% block title %}الصفحة الرئيسية{% endblock %}

{% block content %}

<!-- هيرو -->
<section class="hero-section position-relative">

    <!-- صورة الخلفية -->
    <div class="hero-bg">
        <video class="hero-video" autoplay loop muted playsinline>
            <source src="{% static 'videos/hero.mp4' %}" type="video/mp4">
        </video>
        <div class="hero-overlay"></div>
    </div>


    <div class="hero-content text-center d-flex flex-column justify-content-center align-items-center">
        <h1 class="fw-bold mb-3">اختاري ناديك…  <br>واحجزي كوتش أحلامك بكل سهولة ومن مكانك</h1>
        <p class="lead mb-4">كل نوادي الرياض في مكان واحد مدربات، خطط تدريب، تقييمات، وكل اللي تحتاجينه لتبدئين</p>
    </div>

</section>


<!-- المحتوى تحت الهيرو -->
<div class="container mt-5 mb-5">

    <!-- العنوان -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="fw-bold m-0">أعلى النوادي تقييماً</h3>
        <a href="{% url 'gyms:all_gyms_view' 'all' %}"
            class="text-decoration-none d-flex align-items-center link-gradient">
            <i class="bi bi-arrow-left-circle fs-4"></i>
            <span class="ms-1">للمزيد من النوادي</span>
        </a>

    </div>

    <!-- عرض أعلى 3 نوادي -->
   
        {% include "gyms/component/gyms_list.html" with gyms=top_gyms %}


   
    <div class="d-flex justify-content-between align-items-center mt-5 mb-5">
        <h3 class="fw-bold m-0">أعلى المدربين تقييماً</h3>
        <a href="{% url 'coaches:all_coaches_view'  %}"
            class="text-decoration-none d-flex align-items-center link-gradient">
            <i class="bi bi-arrow-left-circle fs-4"></i>
            <span class="ms-1">للمزيد من المدربين</span>
        </a>

    </div>

    <!-- عرض أعلى 3 مدربين -->
        {% include 'coaches/component/coach_list.html' with coaches=top_coaches %}
        

</div>

{% endblock %}