{% extends 'main/base.html' %}

{% block title %}تعديل النادي{% endblock %}

{% block content %}

<h1 class="mb-4">تعديل بيانات النادي</h1>

<div class="row">
    <div class="col-6">

        <form class="d-flex flex-column gap-3"
              action="{% url 'gyms:gym_update_view' gym.id %}"
              method="post"
              enctype="multipart/form-data">

            {% csrf_token %}

            <!-- نبين الصورة الحالية -->
            <div class="row">
                <div class="col-4">
                    <img src="{{ gym.image.url }}" class="w-100 rounded">
                </div>
                <div class="col">
                    <input type="file" name="image" class="form-control">
                </div>
            </div>

            <!-- الأحياء -->
            <h5>الأحياء</h5>
            <div class="d-flex flex-column gap-1">
                {% for h in hoods %}
                <div class="d-flex align-items-center gap-2">
                    <input type="checkbox"
                           name="hoods"
                           value="{{ h.id }}"
                           id="hood-{{h.id}}"
                           class="form-check-input"
                           {% if h in gym.hoods.all %}checked{% endif %}>
                    <label for="hood-{{h.id}}">{{ h.name }}</label>
                </div>
                {% endfor %}
            </div>

            <!-- وجود مدربين -->
            <select name="has_coach" class="form-select">
                <option value="true" {% if gym.has_coach %}selected{% endif %}>يوجد مدربين</option>
                <option value="false" {% if not gym.has_coach %}selected{% endif %}>لا يوجد مدربين</option>
            </select>

            <!-- وصف النادي -->
            <textarea name="about" class="form-control" rows="4">{{ gym.about }}</textarea>

            <button class="btn btn-primary">تحديث</button>

        </form>

    </div>
</div>

{% endblock %}
